name: Publish to NPM

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

permissions:
  id-token: write  # Required for OIDC
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '24'
          registry-url: 'https://registry.npmjs.org'

      - name: Setup PNPM
        uses: pnpm/action-setup@v4
        with:
          version: 10

      - name: Build & Publish
        run: |
          pnpm i --frozen-lockfile
          pnpm exec kubik ./build.mts

          VERSION=${GITHUB_REF_NAME#v}

          if [[ "$VERSION" == *"-"* ]]; then
            echo "Publishing prerelease to @next"
            pnpm publish --no-git-checks --tag next
          else
            echo "Publishing stable to @latest"
            pnpm publish --no-git-checks
          fi
